# Ignore PDF files
*.pdf

# Ignore photo files
*.jpg
*.jpeg
*.png
*.gif

# Ignore Word documents
*.doc
*.docx

# Ignore Excel spreadsheets
*.xls
*.xlsx

# Ignore videos and zips
*.mp4
*.zip
*.wmv
CB-CTF Training Session Recorded NA-EULA 2015-02-05.mp4
00-IC-F0867 Giulio Peters.zip
CB-CTF Training Session Recorded NA-EULA 2015-02-05.mp4
*.txt
*.xlsm
*.ppt
*.pptx
*.wmv
*.xlsm
*.ppt-backup