# Ignore PDF files
*.pdf

# Ignore photo files
*.jpg
*.jpeg
*.png
*.gif

# Ignore Word documents
*.doc
*.docx

# Ignore Excel spreadsheets
*.xls
*.xlsx

# Ignore videos and zips
*.mp4
*.zip
*.wmv./.git/objects/1e/03fe908d8ba52c157f421952d7e8a904bc5928
./.git/objects/84/0a211ce1c69a5b41171c1a13e960172546c52f
./.git/objects/a6/6aece6c3aba290bb70915092239a91fddcf159
./corporate/home/departments/snk5212/QE/QEFiles/00-IC-F0867 Giulio Peters.zip
