/* CSS Document */

a:visited.link-category  { color: #e15a02; font-weight: normal; font-size: 11px; text-decoration: none }
a:visited.link-table-menu { color: #5c5c5c; text-decoration: none }
a:link.link-category  { color: #e15a02; font-weight: normal; font-size: 11px; text-decoration: none }
a:link.link-table-menu { color: #5c5c5c; text-decoration: none }
a:hover.link-category  { color: #e15a02; font-weight: normal; font-size: 11px; text-decoration: none }
a:hover.link-table-menu { color: #e15a02; text-decoration: none }
a:active.link-category  { color: #e15a02; font-weight: normal; font-size: 11px; text-decoration: none }
a:active.link-table-menu { color: #e15a02; text-decoration: none }
a { color: #e15a02; text-decoration: none }
body, pre { font-family: Verdana, Tahoma, Arial; margin: 0px; padding: 0px }
sup { font-size: 8px }
.a:active.link-comment { color: #e15a02; font-size: 11px; text-decoration: none }
.a:hover.link-comment { color: #e15a02; font-size: 11px; text-decoration: none }
.a:link.link-comment { color: #e15a02; font-size: 11px; text-decoration: none }
.a:visited.link-comment { color: #e15a02; font-size: 11px; text-decoration: none }
.article-end { padding-bottom: 2px; border-bottom: 1px dashed #afacac }
.blog-content { color: #505050; font-size: 11px; padding-bottom: 8px; line-height: 12pt }
.blog-content2 { color: #505050; font-size: 11px; padding-bottom: 9px; line-height: 15pt }
.blog-content_dropdown { color: #000000; font-size: 12px; padding-bottom: 8px; line-height: 12pt }
.blog-faqitem { color: #505050; font-size: 11px; padding-top: 16px; padding-bottom: 16px; line-height: 12pt; border-bottom: 1px dashed #afacac  }
.blog-small { color: #505050; font-size: 9px; padding-bottom: 8px;line-height: 12pt }
.blog-date { color: #828282; font-weight: bold; font-size: 16px; padding-bottom: 20px }
.blog-time { color: #666666; font-size: 11px }
.blog-title { color: #4f698c; font-weight: bold; font-size: 11px; padding-bottom: 2px }
.blog-subtitle { color: #4f698c; font-weight: bold; font-size: 14px; padding-bottom: 2px }
.sched-title { color: #4f698c; font-weight: bold; font-size: 11px; padding-bottom: 2px; background-color: #eee; }
.sched-content { color: #505050; font-size: 11px; padding-bottom: 8px;line-height: 12pt }
.web-title { color: #4f698c; font-weight: bold; font-size: 12px; padding-bottom: 2px; background-color: #eee; }
.web-subtitle { color: #4f698c; font-weight: bold; font-size: 12px; padding-bottom: 2px; }
.web-content { color: #505050; font-size: 11px; padding-bottom: 4px;line-height: 12pt }
.box-content { color: #828282; font-size: 11px; padding: 12px 5px 12px 10px }
.box-header { color: #505050; font-size: 11px; background-color: #eee; padding-top: 3px; padding-bottom: 3px; padding-left: 10px; border-top: 1px solid #cecbce; border-bottom: 1px solid #cecbce; width: 100% }
.box2-content { color: #828282; font-size: 10px; padding: 12px 5px 12px 10px }
.box2-header { color: #505050; font-size: 10px; background-color: #eee; padding-top: 3px; padding-bottom: 3px; padding-left: 10px; border-top: 1px solid #cecbce; border-bottom: 1px solid #cecbce; width: 33% }
.calendar  { color: #828282; font-weight: normal; font-size: 10px; line-height: 14px; text-align: left; padding: 4px }
.calendarhead { color: #828282; font-weight: bold; font-size: 11px; line-height: 14px; padding: 4px }
.content-column-left { vertical-align: top; padding: 23px 10px 10px; width: 672px }
.content-column-right { vertical-align: top; width: 25px }
.content-full { vertical-align: bottom; padding: 23px 10px 10px; width: 398px }
.horizontalbar { font-size: 1px; background-color: #b0b0b0; width: 1px }
.page-title { color: #505050; font-weight: bold; font-size: 16px }
.table-bookend-bottom { font-size: 2px; background-color: #AABBE1; border-top: 1px solid #000; height: 10px }
.table-bookend-bottom-footer { font-size: 2px; background-color: #ffffff; border-top: 1px solid #000; height: 10px }
.table-bookend-top { font-size: 2px; background-color: #AABBE1; border-bottom: 1px solid #000; height: 10px }
.table-content { background-color: #ffffff; vertical-align: top }
.table-main { border: solid 1px #000 }
.table-masthead { background: #E6EDFC url(main_bg.gif) no-repeat left center; padding-top: 5px; border-bottom: 1px solid #000; height: 49px }
.table-menu { color: #5c5c5c; font-size: 11px; background-image: url(images/menu_bg.gif); padding-top: 0px; height: 29px }
.button  { color: #505050; font-weight: bold; font-size: 11px; font-family: Verdana, Tahoma, Arial }
.input  { color: #505050; font-size: 11px; font-family: Verdana, Tahoma, Arial; border: solid 1px #cecbce }