/*Add this code to your style sheet or within a style tag on your page.*/

.PrimNav {
	font-family : Verdana, Arial, sans-serif;
	color: #000000;
  font-size: 10px;
  text-decoration: none;
}

.PrimNav:hover {
text-decoration: underline;
color: #000000;
}

.SecNav {
	font-family : Verdana, Arial, sans-serif;
	color: #ffffff;
  font-size: 10px;
  text-decoration: none;
}

.SecNav:hover {
text-decoration: underline;
color: #ffffff;
}

.box1header
	{
	font-size: 12px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;	
	font-weight: bold;
	padding: 4px 0px 0px 10px;
	background-color: #f0f0f0;
	}	

.box1headertext
	{
	font-size: 12px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: underline;	
	font-weight: bold;
	}	

 a.box1headertext:visited 
  {
    color: #000000;
    text-decoration: underline;
  }

 
 
.box1body
	{
	font-size: 11px;
	line-height: 15px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	padding: 4px 10px 0px 10px;
	background-color: #ffffff;
  }	
  
#nav 
 { 
   margin-right: -7px; float: left; 
 }

 a.nav:visited 
 {
   color: #666666;
   text-decoration: underline;
 }
  
#ulnethead {
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
	word-spacing: 0px;
	margin-top: 0;
	padding-right: 5px;
	border-top: 1px #ffffff solid;
	border-bottom: 1px #ffffff solid;
	background-position : left;
	background-repeat : no-repeat;
	background-color : #ffffff;
	}


#search1 {
	position: absolute;
	width: 250;
	z-index: 1;
	right: 0px;
	top: 0px;
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 4;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}	

#search1 input {
	font-family : Helvetica, Arial, Serif;
	font-size : 9pt;
	border: 1;
}

#ulnetheadnosp {
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0;
	font-size: 9px;
font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	word-spacing: 0px;
	margin-top: 0;
	padding-right: 5px;
	color: #ffffff;
	border-top: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	background-position : left;
	background-repeat : no-repeat;
	background-color : #000000;
font-weight: normal; }

#ulnetheadnosp a:link, #ulnetheadnosp a:visited {
color: #ffffff;
text-decoration: none;
}

#ulnetheadnosp a:hover {
text-decoration: underline;
color: #ffffff;
}




#ulnetfoot {
text-align: left;
margin-bottom: 0;
font-size: 10px;
margin-top: 20px;
padding-right: 50px;
padding-left: 50px;
padding-top: 2px;
padding-bottom: 2px;
background-color: #999999;
color: #ffffff;
font-family: Verdana, Helvetica, Arial, sans-serif;
line-height: 125%; 
}

#ulnetfoot p.footer {
background-color: #999999;
}

#ulnetfoot a:link, #footer a:visited {
color: #000000;
text-decoration: none;
}

#ulnetfoot a:hover {
text-decoration: underline;
color: #000000;
}

