/*Add this code to your style sheet or within a style tag on your page.*/


#ulnethead {
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0;
	font-size: 9px;
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
	word-spacing: 0px;
	margin-top: 0;
	padding-right: 5px;
	color: #ffffff;
	border-top: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	background-position : left;
	background-repeat : no-repeat;
	background-color : #D90B00;
	font-weight: normal;
	}

#ulnethead a:link, #ulnethead a:visited {
color: #ffffff;
font-size: 9px;
text-decoration: none;
}

#ulnethead a:hover {
text-decoration: underline;
color: #ffffff;
}

#search1 {
	position: absolute;
	width: 250;
	z-index: 1;
	right: 0px;
	top: 0px;
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 2px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}	

#search1 input {
	font-family : Helvetica, Arial, Serif;
	font-size : 9pt;
	border: 1;
}

#ulnetheadnosp {
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0;
	font-size: 9px;
font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	word-spacing: 0px;
	margin-top: 0;
	padding-right: 5px;
	color: #ffffff;
	border-top: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
	background-position : left;
	background-repeat : no-repeat;
	background-color : #000000;
font-weight: normal; }

#ulnetheadnosp a:link, #ulnetheadnosp a:visited {
color: #ffffff;
text-decoration: none;
}

#ulnetheadnosp a:hover {
text-decoration: underline;
color: #ffffff;
}

#ulnetfoot {
text-align: left;
margin-bottom: 0;
font-size: 10px;
margin-top: 20px;
padding-right: 50px;
padding-left: 50px;
padding-top: 2px;
padding-bottom: 2px;
background-color: #999999;
color: #ffffff;
font-family: Verdana, Helvetica, Arial, sans-serif;
line-height: 125%; 
}

#ulnetfoot p.footer {
background-color: #999999;
}

#ulnetfoot a:link, #footer a:visited {
color: #000000;
text-decoration: none;
}

#ulnetfoot a:hover {
text-decoration: underline;
color: #000000;
}

